<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="FromMailAddress" value="mail@hopeearle.com.au" />
    <add key="MailPassword" value="" />
    <add key="ToMailAddress" value="mail@hopeearle.com.au" />
    <add key="MailHost" value="mx1.smtpserver.com.au" />
    <add key="MailPort" value="25" />
    <add key="EnableSSL" value="false" />
    <add key="LoginRequired" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" tempDirectory="W:\Inetpub\vhosts\hopeearle.com.au\tmp" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Tue,19 Jan 2038 03:14:07 GMT" />
    </staticContent>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>